<h1> All Star Wars releases </h1>
<br>
<h2> <a href ="/home">Back</a> </h2>
<br>
<a href="/everything_sorted">All Movis Sorted </a>
<br>
<head>
    {% if title %}
    <title> {{title}} </title>
    {% else%}
    <title> Star Wars Releases </title>
    {% endif %}
    <head>
    <body>

Episode I: The Phantom Menace (1999)
<br>
<br>
Episode II: Attack of the Clones (2002) 
<br>
<br>
Episode III: Revenge of the Sith (2005)
<br>
<br>
Episode IV: A New Hope (1977)
<br>
<br>
Episode V: The Empire Strikes Back (1980)
<br>
<br>
Episode VI: Return of the Jedi (1983)
<br>
<br>
Episode VII: The Force Awakens (2015)
<br>
<br>
Rogue One: A Star Wars Story (2016)
<br>
<br>
Episode VIII: The Last Jedi (2017)
<br>
<br>
Solo: A Star Wars Story (2018)
<br>
<br>
Episode IX: The Rise of Skywalker (2019)
<br>
<br>
Untitled Sharmeen Obaid-Chinoy film (TBC)
<br>
<br>
Untitled Dave Feloni film (TBC)
<br>
<br>
Untitled James Mangold film (TBC)
<br>
<br>
The Acolyte (2024- ?) Not released yet
<br>
<br>
Ahsoka (2023-?) Not released yet
<br>
<br>
Skeleton Crew (2023- ?) Not released yet
<br>
<br>
The Mandalorian (2019-present)
<br>
<br>
Andor (2022-present)
<br>
<br>
Star Wars Visons (2021-present)
<br>
<br>
The Book of Boba Fett (2021-2022)
<br>
<br>
Star Wars: The Clone Wars (2008-2020)
<br>
<br>
Star Wars Rebels (2014-2018)
<br>
<br>
Star Wars: Resistance (2018-2020)
<br>
<br>
Star Wars Clone Wars (2003)

</body>