<h1>All new and old Star Wars releases </h1>
<h2> Menu </h2>
<a href="/old_releases_only_movies">List of only the Movies</a>
<br>
<a href ="/only_series">Lsit of only the Series </a>
<br>
<a href="/evry_release"> List off all Star Wars Releases </a>

<head>
    {% if title %}
    <title> {{title}} </title>
    {% else%}
    <title> Star Wars Releases </title>
    {% endif %}
    <head>
    <body>


<h2>Note:</h2>
<br>
There migt be not evry movie and series in that list 

</body>