<h1> All Star wars Releasses of series </h1>
<h2><a href ="/home">Back</a> </h2>
<br>
<a href="/every_series_sorted">Every Series Sorted </a>
<br>

<head>
    {% if title %}
    <title> {{title}} </title>
    {% else%}
    <title> Star Wars Releases </title>
    {% endif %}
    <head>
    <body>


Untitled Sharmeen Obaid-Chinoy film (TBC)
<br>
<br>
Untitled Dave Feloni film (TBC)
<br>
<br>
Untitled James Mangold film (TBC)
<br>
<br>
The Acolyte (2024- ?) Not released yet
<br>
<br>
Ahsoka (2023-?) Not released yet
<br>
<br>
Skeleton Crew (2023- ?) Not released yet
<br>
<br>
The Mandalorian (2019-present)
<br>
<br>
Andor (2022-present)
<br>
<br>
Star Wars Visons (2021-present)
<br>
<br>
The Book of Boba Fett (2021-2022)
<br>
<br>
Star Wars: The Clone Wars (2008-2020)
<br>
<br>
Star Wars Rebels (2014-2018)
<br>
<br>
Star Wars: Resistance (2018-2020)
<br>
<br>
Star Wars Clone Wars (2003)

</body>