<h1>All older Star wars releases </h1>
<br>
<h2>   <a href ="/home">Back</a>  </h2>
<br>
<a href="/every_movie_sorted">Sorted after Date</a>
<br>


<head>
    {% if title %}
    <title> {{title}} </title>
    {% else%}
    <title> Star Wars Releases </title>
    {% endif %}
    <head>
    <body>


Episode I: The Phantom Menace (1999)
<br>
Episode II: Attack of the Clones (2002) 
<br>
Episode III: Revenge of the Sith (2005)
<br>
Episode IV: A New Hope (1977)
<br>
Episode V: The Empire Strikes Back (1980)
<br>
Episode VI: Return of the Jedi (1983)
<br>
Episode VII: The Force Awakens (2015)
<br>
Rogue One: A Star Wars Story (2016)
<br>
Episode VIII: The Last Jedi (2017)
<br>
Solo: A Star Wars Story (2018)
<br>
Episode IX: The Rise of Skywalker (2019)


    </body>